extends layout

block content
  body(style="background: url(/images/serverBackground.jpg) no-repeat center center fixed;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;")
    div.header(style="background-color:rgba(186,109,255,0.9);")
      a(href="/")
        img.barLogo(src="/images/shareServeBigWhite.png")
      div(style="margin-right:auto;margin-left:12px;")
    div.loginContainer
      div.homeTextContainer(style="width:auto;align-items:center;")
        div.homeTitleText Login
        form.signInForm
          input(type="text" name="username" placeholder="Username")
          input(type="password" name="password" placeholder="Password")
        div.listingButton(style="font-size:20px;color:white;width:auto;") Log In
      div.homeTextContainer(style="width:auto;align-items:center;")
        div.homeTitleText Sign Up
        form.signInForm
          input(type="text" name="username" placeholder="Username")
          input(type="email" name="email" placeholder="Email")
          input(type="password" name="password" placeholder="Password")
          input(type="password" name="passwordConfirm" placeholder="Confirm Password")
        div.listingButton(style="font-size:20px;color:white;width:auto;") Sign Up
  