extends layout

block content
  div.header(style="background:rgb(81,192,102);")
    a(href="/")
      img.barLogo(src="/images/shareServeBigWhite.png")
    div(style="margin-right:auto;margin-left:12px;")
      div(style="font-size:45px;") ShareServe 
      div(style="font-size:30px;font-style:italic;") A Community-Based Server Marketplace
    a.userContainer(href="/user/dashboard/" style="text-decoration:none;color:white;")
      div(style="font-size:25px;") jpwall
      img(src="/images/downArrow.png" style="width:40px;height:40px")
  div(style="margin-left:auto;margin-right:auto;margin-top:20px;width:70%;")
    //div.homeTitleText New Listing
    div.homeInfoText(style="color:white;") Fill out the information below to create a listing.
  form.newListingItemContainer
    div.newListingItem
      div.homeTitleText#newListingText(style="margin-bottom:0px;") CPU 
      div.newListingFormInline(style="margin-left:auto;")
        input.countInput(type="number" min="1" step="1" placeholder="Core Count")
        input.countInput(type="number" min="0" step="0.01" placeholder="Freq. (GHZ)")
    div.newListingItem
      div.homeTitleText#newListingText(style="margin-bottom:0px;") Hard Drive
    div.newListingItem
      div.homeTitleText#newListingText(style="margin-bottom:0px;") RAM
    div.newListingItem
      div.homeTitleText#newListingText(style="margin-bottom:0px;") Network
    div.newListingItem
      div.homeTitleText#newListingText(style="margin-bottom:0px;") Graphics
    div.newListingItem
      div.homeTitleText#newListingText(style="margin-bottom:0px;") Operating System
    div.newListingItem
      div.homeTitleText#newListingText(style="margin-bottom:0px;") VM
    div.newListingItem
      div.homeTitleText#newListingText(style="margin-bottom:0px;") Other Info
    div.newListingItem(style="border-bottom: 3px solid white")
      div.homeTitleText#newListingText(style="margin-bottom:0px;") Pricing
    div.listingButton(style="color:white;margin-top:8px;margin-bottom:10px;background:#7b9bd9;") Create Listing