@import url('https://fonts.googleapis.com/css?family=Montserrat|Ropa+Sans');

body {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background: #444444;
    
//    background: url(/images/serverBackground.jpg) no-repeat center center fixed;
//    -webkit-background-size: cover;
//    -moz-background-size: cover;
//    -o-background-size: cover;
//    background-size: cover;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.header {
    //min-height: 150px;
    height: auto;
    width: 100%;
    //background: #7c7c7c;
    color: white;
    //padding-top: ;
    //padding-bottom: ;
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    //opacity: 0.75;
    background-color: rgba(124, 124, 124, 0.6);
    
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.loginContainer {
    background-color: rgba(124, 124, 124, 0.83);
    width: 100%;
    height: 87.7vh;
    padding-left: 17%;
    padding-right: 17%;
    padding-top: none;
    padding-bottom: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.signInForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
}

.separator {
    width: 100%;
    height: 2.5px;
    background: white;
}

.greetingBar {
    //min-height: 375px;
    height: 43.85vh;
    width: 100%;
    //background: #b5ffc3;
    //background: #51c066;
    background-color: rgba(81, 192, 102, 0.95);
    color: white;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 17%;
    padding-right: 17%;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.newListingItem {
    width: 70%;
    height: auto;

    color: white;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-left: 1%;
    padding-right: 1%;
    border-top: 3px solid white;    

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.newListingItemContainer {
    width: auto;
    height: auto;
    /*
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-left: 17%;
    padding-right: 17%;
    */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listingFindFormContainer {
    width: 100%;
    min-height: 10vh;
    //background: blue;
    //color: white;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 1%;
    padding-bottom: 1%;
    //background: #ba6dff;
    //background: white;
    
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    display: flex;
    //justify-content: center;
    //align-items: center;
    flex-direction: column;
}

.listingFindForm {
    display: flex;
    //align-self: center;
    margin-left: 1%;
    margin-right: auto;
}

.newListingFormInline {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

select, .updateButton {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    padding: 10px;
    //color: #ba6dff;
    color: #396fdb;
    border: 0;
    border-radius: 0;
    background: white;
    //background: white;
    margin-left: 5px;
    border-radius: 2.5px;
    font-size: 19px;
}

.signInInput {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 375px;
    display: flex;
    
    padding: 10px;
    color: #396fdb;
    background: white;
    border: 0;
    border-radius: 2.5px;
    font-size: 19px;
    margin-bottom: 8px;
}

.countInput {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 140px;
    display: flex;
    padding: 10px;
    color: rgb(186, 109, 255);
    background: white;
    border: 0;
    border-radius: 2.5px;
    font-size: 19px;
    margin-left: 4px;
}

.listingBarContainer {
    width: 100%;
    height: auto;
    padding-left: 15%;
    padding-right: 15%;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
}

#userListings {
    display: flex;
    justify-content: center;
    padding-left: 0px;
    padding-right: 0px;
    width: 70%;
}

.listingBar {
    width: 100%;
    height: 5vh;
    background: #666666;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    padding-left: 3px;
    padding-right: 3px;
    
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#userListingBar {
    margin-left:5%;
}

#topListingBar {
    color: #fcd7a6;
    font-weight: bold;
}

#buyBarHome {
    //background: #bad1ff;
    background: #7b9bd9;
    background-color: rgba(123, 155, 217, 0.95);
}

.barLogo {
    height: 125px;
}

.signInButton {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3.5px;
    //background: #444444;
    background: rgba(68, 68, 68, 0.8);
    width: auto;
    height: auto;
    font-size: 23px;
    
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.listingButton {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
    background: #51c066;
    font-size: 30px;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.homeTextContainer {
    width: 53%;
    //height: auto;
    //background: orange;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.homeTitleText {
    color: white;
    font-size: 40px;
    margin-bottom: 15px;
//    font-family: 'Ropa Sans', sans-serif;
}

#newListingText {
    font-size: 30px;
}

.homeInfoText {
    font-size: 23px;
    margin-bottom: 15px;
}

.homeBrowseButton {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
    //background: #c993ff;
    background: #ba6dff;
    color: white;
    width: auto;
    height: auto;
    align-self: flex-start;
    font-size: 21px;
    
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.homeImage {
    height: 70%;
}

.listingItem {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    //background: blue;
    color: white;
    
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.listingSeparator {
    width: 2px;
    height: 90%;
    background: black;
}

.userContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 12%;
    height: auto;
}

.dashboardContainer {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 80vh;
//    background: blue;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-top: 1%;
}

.dashboardLeftSidebar {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    padding-right: 4%;
    width: 30%;

    display: flex;
    flex-direction: column;
    border-right: 1px solid white;
}

.dashboardEditTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 11%;
}
.dashboardBio {
    height: 78%;
}
.dashboardCity {
    height: 11%;
}

#dashboard {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

@media screen and (max-aspect-ratio: 16/9) {
    .header {
	padding-left: 0px;
	padding-right: 0px;
    }

    .greetingBar {
	padding-left: 2%;
	padding-right: 2%;
    }
}
